<!--
  Generated template for the AddMinibusServicePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-title>
      Filtro
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="closeModal()">
        <span ion-text color="primary">Cancel</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row text-center>
    <button ion-button [color]="filterType === 'driver' ? 'secondary' : 'primary' "
            (click)="filterType='driver'">Conductor</button>
    <button ion-button [color]="filterType === 'date' ? 'secondary' : 'primary' "
            (click)="filterType='date'">Fecha</button>
    <button ion-button [color]="filterType === 'hotel' ? 'secondary' : 'primary' "
            (click)="filterType='hotel'">Hotel</button>
    <button ion-button [color]="filterType === 'vehicle' ? 'secondary' : 'primary' "
            (click)="filterType='vehicle'">Vehículo</button>
  </ion-row>

  <div *ngIf="filterType === 'driver'">
    <ion-item>
      <ion-label>Conductor:</ion-label>
      <ionic-selectable item-content [(ngModel)]="driver" [items]="driversName" [canSearch]="true"
                        (onChange)="portChange($event)">
      </ionic-selectable>
    </ion-item>
    <button ion-button (click)="getDriverValue(driver)">Accept</button>
  </div>

  <div *ngIf="filterType === 'date'">
    <ion-item>
      <ion-label>¿Es en rango o fija?</ion-label>
      <ion-select [(ngModel)]="dateType">
        <ion-option value="range">Rango</ion-option>
        <ion-option value="fixed">Única</ion-option>
      </ion-select>
    </ion-item>

    <div *ngIf="dateType==='range'" style="display: flex;">
      <ion-item>
        <ion-label>Desde</ion-label>
        <ion-datetime displayFormat="YYYY-M-D" pickerFormat="YYYY-M-D"
                      [(ngModel)]="transferFromDate" placeholder="Seleccione una fecha"
        ></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Hasta</ion-label>
        <ion-datetime displayFormat="YYYY-M-D" pickerFormat="YYYY-M-D"
                      [(ngModel)]="transferToDate" placeholder="Seleccione una fecha"
        ></ion-datetime>
      </ion-item>
      <button ion-button (click)="getTransferByRangeDate(transferFromDate,transferToDate)">Accept</button>
    </div>
    <div *ngIf="dateType==='fixed'">
      <ion-item>
        <ion-label>Seleccionar fecha</ion-label>
        <ion-datetime displayFormat="YYYY-M-D" pickerFormat="YYYY-M-D"
                      [(ngModel)]="transferFixedDate" placeholder="Seleccione una fecha"
        ></ion-datetime>
      </ion-item>
      <button ion-button (click)="getTransferByDate(transferFixedDate)">Accept</button>
    </div>
  </div>

  <div *ngIf="filterType === 'hotel'">
    <ion-item>
      <ion-label>Hotel:</ion-label>
      <ionic-selectable item-content [(ngModel)]="hotel" [items]="hotelsNickname" [canSearch]="true"
                        (onChange)="portChange($event)">
      </ionic-selectable>
    </ion-item>
    <button ion-button (click)="getHotelValue(hotel)">Accept</button>
  </div>

  <div *ngIf="filterType === 'vehicle'">
    <ion-item>
      <ion-label>Vehículo:</ion-label>
      <ionic-selectable item-content [(ngModel)]="vehicle" [items]="vehiclesBrands" [canSearch]="true"
                        (onChange)="portChange($event)">
      </ionic-selectable>
    </ion-item>
    <button ion-button (click)="getVehicleValue(vehicle)">Accept</button>
  </div>
</ion-content>
