<!--
  Generated template for the AddMinibusServicePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-title>
      Filtro
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="closeModal()">
        <span ion-text color="primary">Cancel</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Tipo</ion-label>
    <ion-select [(ngModel)]="filterType">
      <ion-option value="driver">Conductor</ion-option>
      <ion-option value="date">Fecha</ion-option>
      <ion-option value="hotel">Hotel</ion-option>
      <ion-option value="vehicle">Vehículo</ion-option>
    </ion-select>
  </ion-item>

  <div *ngIf="filterType === 'driver'">
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let driver of filteredDriversNames">
        {{ driver }}
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="filterType === 'date'">
    <ion-item>
      <ion-label>¿Es en rango o fija?</ion-label>
      <ion-select [(ngModel)]="dateType">
        <ion-option value="range">Rango</ion-option>
        <ion-option value="fixed">Única</ion-option>
      </ion-select>
    </ion-item>

    <div *ngIf="dateType==='range'" style="display: flex;">
      <ion-item>
        <ion-label>Desde</ion-label>
        <ion-datetime displayFormat="YYYY-M-D" pickerFormat="YYYY-M-D"
                      [(ngModel)]="transferFromDate" placeholder="Seleccione una fecha"
        ></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Hasta</ion-label>
        <ion-datetime displayFormat="YYYY-M-D" pickerFormat="YYYY-M-D"
                      [(ngModel)]="transferToDate" placeholder="Seleccione una fecha"
        ></ion-datetime>
      </ion-item>
    </div>
    <div *ngIf="dateType==='fixed'">
      <ion-item>
        <ion-label>Seleccionar fecha</ion-label>
        <ion-datetime displayFormat="YYYY-M-D" pickerFormat="YYYY-M-D"
                      [(ngModel)]="transferFixedDate" placeholder="Seleccione una fecha"
        ></ion-datetime>
      </ion-item>
    </div>
  </div>
</ion-content>
