<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<ion-header>
  <ion-navbar>
    <ion-title>Gguaguas - Servicios</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Seleccionar fecha</ion-label>
    <ion-datetime displayFormat="YYYY-M-D" pickerFormat="YYYY-M-D" max="2130-12-12"
                  [(ngModel)]="transferDate" placeholder="Seleccione una fecha"
    ></ion-datetime>
  </ion-item>
  <ion-label><button (click)="selectTransferByDate()" ion-button>Buscar</button></ion-label>
  <h3>Listado de servicios ({{transferDate.slice(0,10)}})</h3>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">Fecha y hora</th>
      <th scope="col">Origen</th>
      <th scope="col">Destino</th>
      <th scope="col">Titular de viaje</th>
      <th scope="col">Número de pasajeros</th>
      <th scope="col">Descripción</th>
      <th scope="col">Seleccionar Conductor</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let transfer of transfers">
      <td>{{transfer?.transferDate}} - {{transfer?.transferTime}}</td>
      <td>{{transfer?.origin}}</td>
      <td>{{transfer?.destiny}}</td>
      <td>{{transfer?.name}}</td>
      <td>{{transfer?.seats}}</td>
      <td>{{transfer.description !== "undefined" ? transfer?.description : ""}}</td>
      <td><ion-item>
        <ion-label>Conductores</ion-label>
        <ion-select>
          <ion-option *ngFor="let driver of drivers" [value]="driver?.name" (ionSelect)="selectDriver(driver?.name)">{{driver?.name}}</ion-option>
        </ion-select>
        <ion-select>
          <ion-option *ngFor="let hotel of hotels" [value]="hotel?.hotelCif" (ionSelect)="selectHotel(hotel?.hotelCif)">{{hotel?.hotelName}}</ion-option>
        </ion-select>
        <ion-select>
          <ion-option *ngFor="let vehicle of vehicles" [value]="vehicle?.licensePlate" (ionSelect)="selectVehicle(vehicle?.licensePlate)">{{vehicle?.licensePlate}}</ion-option>
        </ion-select>
        <ion-select>
          <ion-option *ngFor="let client of clients" [value]="client?.cif" (ionSelect)="selectClient(client?.cif)">{{client?.clientName}}</ion-option>
        </ion-select>

        </ion-item>
        <ion-label>
          <button (click)="addTransfer(transfer?.transferDate,
                                                            transfer?.transferTime,
                                                            transfer?.origin,
                                                            transfer?.destiny,
                                                            transfer?.name,
                                                            transfer?.seats,
                                                            transfer?.company,
                                                            transfer?.directionCompany,
                                                            transfer?.description)" ion-button>Crear transfer</button>
        </ion-label>
      </td>
    </tr>
    </tbody>
  </table>
</ion-content>
