<ion-header>
  <ion-toolbar>
    <ion-title>
      Add {{vehicle}} service
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="closeModal()">
        <span ion-text color="primary">Cancel</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input maxlength="500" [(ngModel)]="name" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Destino</ion-label>
      <ion-input maxlength="500" [(ngModel)]="destiny" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Origen</ion-label>
      <ion-input maxlength="500" [(ngModel)]="origin" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Asientos</ion-label>
      <ion-select *ngIf="vehicle == 'minibus'" [(ngModel)]="seats">
        <ion-option value="6"> 6 asientos</ion-option>
        <ion-option value="10"> 10 asientos</ion-option>
      </ion-select>
      <ion-select *ngIf="vehicle == 'mercedes'" [(ngModel)]="seats">
        <ion-option value="4"> 4 asientos</ion-option>
        <ion-option value="5"> 5 asientos</ion-option>
        <ion-option value="6"> 6 asientos</ion-option>
      </ion-select>
      <ion-select *ngIf="vehicle == 'vtc'" [(ngModel)]="seats">
        <ion-option value="4"> 4 asientos</ion-option>
        <ion-option value="5"> 5 asientos</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Hotel contratante</ion-label>

      <ion-select [(ngModel)]="company">
        <ion-option *ngFor="let hotel of hotels" value="{{hotel.hotelName}}">{{hotel.hotelName}}</ion-option>
      </ion-select>

    </ion-item>
    <ion-item>
      <ion-label>Dirección del hotel</ion-label>
      <ion-input maxlength="500" [(ngModel)]="directionCompany" type="text">
        {{ getDirectionHotel() }}
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Fecha del transfer</ion-label>
      <ion-datetime displayFormat="YYYY-M-D" pickerFormat="YYYY-M-D" max="2130-12-12"
                    [(ngModel)]="transferDate" placeholder="Seleccione una fecha"
      ></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Hora del transfer</ion-label>
      <ion-datetime displayFormat="hh:mm A" pickerFormat="hh:mm A"
                    [(ngModel)]="transferTime" placeholder="Seleccione una hora"
      ></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Descripción</ion-label>
      <ion-input maxlength="1000" [(ngModel)]="description" type="text"></ion-input>
    </ion-item>
  </ion-list>
  <button (click)="addNewService()" ion-button>Añadir</button>

</ion-content>
